# Core
streamlit
scikit-learn==1.5.1
pandas
numpy<2.0
joblib

# Explainability & Visualization
shap
matplotlib
seaborn

# Model Handling
xgboost
lightgbm
catboost

# Data Utilities
openpyxl   # for Excel file support
pyyaml

# Hugging Face API
requests

# Optional: for JSON data handling
orjson
