# Core
streamlit
scikit-learn==1.5.1
pandas
numpy
joblib

# Explainability & Visualization
shap==0.46.0
matplotlib
seaborn

# Model Handling
xgboost<2.0
lightgbm
catboost

# Data Utilities
openpyxl   # for Excel file support
pyyaml

# Hugging Face API
requests

# Optional: for JSON data handling
orjson
